ENVIRONMENT=<development|production>
SHAREPOINT_CLIENT_ID=<application_id>
SHAREPOINT_CLIENT_SECRET=<application_client_secret>
SHAREPOINT_SITE_ID=<sharepoint_site_id>
SHAREPOINT_TENANT_ID=<application_tenant_id>
WOS_API_KEY=<web_of_science_api_key>
